*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.main {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677, #4e085f);
    padding: 10px;

}
.tital{

    width: 90%;
    max-width: 470px;
    background :white; 
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    /* text-align: center; */
}

.tital h1{

    color: #002765;
    display: flex;
    gap: 10px;
}
.tital img{

    width: 40px;
    height: 40px;
    
    
}

.search{

margin-top: 40px;
text-align: left;
display: flex;

}
.search input{

    height: 50px;
    width: 300px;
    border: 2px solid #fff;
    border-radius: 30px;
    outline: none;
    background-color: #edeef0;
    padding: 15px;
}
.search button{

    height: 50px;
    width: 120px;
    border: 2px solid #fff;
    border-radius: 40px;
    outline: none;
    background-color: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    
    padding: 16px 50px;
}

ul li{

   list-style: none;
   font-size: 17px;
 padding: 12px 8px 12px 50px; 
    user-select: none; 
    cursor: pointer;  
    margin-top: 20px;
    position: relative;
    
}

ul li::before{

    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{

    color: #555;
    text-decoration: line-through;

}
ul li.checked::before{

    background-image: url(images/checked.png);
}

ul li span{

    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: #edeef0;
}