/* *{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
div{
    margin-left: 500px;
    margin-right: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
}
button{
   
    margin-top: 100px;

} */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');



body{

    background: #edeaff ;

    font-family: 'Courier Prime', monospace;
}

.stopwatch{

    width: 90%;
    max-width: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgb(0,0,0,0.8)), url(images/background.png);
    background-size: cover;
    background-position: center ;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.stopwatch h1{
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;

}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button img{

    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}

.button img:nth-child(2){
    width: 80px;
}