*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}

.contaner{

    width: 100%;
    height: 100vh;
    background: linear-gradient(320deg , #4203a9, #90bafc);
    color: #fff;
    padding: 10px;
}
.calculater{

    width: 100%;
    max-width: 600px;
    margin-left: 30%;
    margin-top: 5%;
}
.calculater h1{

    font-size: 60px;
}
.calculater h1 span{

    color: #ffff76;
}
.input-box{

    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
}
.input-box input{

flex: 1;
margin-right: 20px;
padding: 14px 20px;
border: 0;
outline: 0;
font-size: 18px;
border-radius: 5px;
position: relative;

}


.input-box button{

    padding: 15px 30px;
border: 0;
outline: 0;
font-weight: 500;
border-radius: 5px;
background: #ffff76;
color: #333;
cursor: pointer;
font-size: 18px;
}

/* .input-box input::webkit-calender-picker-indicator{

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100%- 10px);
    background-size: 30px;
    cursor: pointer;
} */

#result{

    font-size: 20px;
}
#result span{

    color: #ffff76;

}